{
  "singleQuote": false,
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "proseWrap": "always",
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
